{% extends 'base.html.twig' %}

{% block title %}Café du logis
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/carousel.css">
	<link rel="stylesheet" href="/assets/css/accueil.css">
{% endblock %}

{% block body %}

	<main>
		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">

				{% for image in listeImages %}
					<div
						class="carousel-item {% if loop.index == 1 %}active{% endif %}" style="background-image: url('/uploads/{{image.nomImage}}')">
						{# au lieu de loop.index == 1, on peut mettre loop.first #}
						<div class="container">
							<div class="carousel-caption text-start">
								<h1>{{image.titre}}</h1>
								<p>{{image.texte}}</p>
								<p>
									<a class="btn btn-lg btn-primary" href="#">En savoir plus</a>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}

				<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<div class="album py-5 bg-light">
				<div class="container">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

						{% for produit in listeProduits %}
							<div class="col">
								<div class="article card shadow-sm">
									<div style="position:relative">
										<div style="position:absolute">
											{% for libelle in produit.listeLibelles %}
												<span class="badge" style="background-color:#{{libelle.couleur}}">{{libelle.nom}}</span>
											{% endfor %}
										</div>
										<img style="height:225px;width:100%" src="/uploads/{{ produit.nomImage }}"/>
									</div>
									<div class="card-body">
										<h4 class="text-truncate">{{produit.designation}}</h4>
										<p class="card-text">{{produit.description | slice(0,100)}}</p>
										<!--pour limiter à 100 caractères-->
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<button type="button" class="btn btn-sm btn-outline-secondary">Plus d'info</button>
												<a href="{{path('ajout_panier', {id:produit.id})}}" class="btn btn-sm btn-outline-secondary">Ajouter au panier</a>
												{% if app.user and ('ROLE_ADMIN' in app.user.roles) %}
													<a class="btn badge bg-success" href="{{path ('modification_produit', {id:produit.id})}}">Modifier</a>
												{% endif %}
											</div>
											<small class="text-muted">{{produit.prix}}€</small>
										</div>
									</div>

								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</main>
	{% endblock %}
